* {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: aqua;
}
#app {
    width: 100%;
    height: 100%;
    display: flex;
    background: url('../static/gril.jpeg') no-repeat;
}
.root {
    width: 100%;
    height: 100%;
}